<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Sets</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <%- include('partials/navbar', {page: `/sets${currentTheme ? ('/' + currentTheme) : ''}`}) %>

    <section class="shadow-lg bg-primary-gray-custom text-black mx-auto rounded-lg flex flex-col items-center justify-center" style="background-image: url('/media/Lego hero.jpg'); background-size: 100%; background-repeat: no-repeat; background-position: right 80%; max-width: 90%; width: 80%; height: 400px; margin-bottom: 20px; margin-top: 20px;">
        <div class="container mx-auto flex items-center justify-center flex-col relative top-6">
            <h1 class="text-4xl font-bold mb-4">Collection</h1>
            <p>Browse the entire collection</p>
            <p>Click the theme to filter by themes such as: </p><br>
            <div> 
                <% theThemes.forEach(theme => { %>
                    <a class="btn btn-secondary btn-xs <%= (currentTheme === theme) ? 'cursor-not-allowed opacity-75 pointer-events-none' : '' %>" href="/lego/sets?theme=<%= theme %>"><%= theme %></a>
                <% }); %>
            </div>    
        </div>
    </section>

    <!-- Dynamic content based on the theme starts here -->
    <div class="sets-container">
        <% if (legoSets && legoSets.length > 0) { %>
            <% legoSets.forEach(set => { %>
                <div class="set">
                    <img src="<%= set.img_url %>" alt="<%= set.name %>" onerror="this.src='/image/Image_not_available.png';">
                    <h2><%= set.name %></h2>
                    <p>Year: <%= set.year %></p>
                    <p>Theme: <%= set.theme %></p>
                    <p>Number of Parts: <%= set.num_parts %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No sets found for this theme.</p>
        <% } %>
    </div>
    <!-- Dynamic content ends here -->

    <script src="/ThemeChanger.js"></script>
</body>
</html>
