<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= legoSet.name %> - Lego Set Details</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
  <%- include('partials/navbar', {page: ''}) %>

    <!-- Hero Section -->
    <section class="shadow-lg bg-primary-gray-custom text-black mx-auto rounded-lg flex flex-col items-center justify-center" style="background-image: url('/media/Lego hero.jpg'); background-size: 100%; background-repeat: no-repeat; background-position: right 80%; max-width: 90%; width: 80%; height: 400px; margin-bottom: 20px; margin-top: 20px;">
        <h1 class="text-4xl font-bold mb-4"><%= legoSet.name %></h1>
        <p>Detailed information about this set</p>
    </section>

    <!-- Main Content -->
    <div class="container mx-auto p-6" style="max-width: 90%; width: 80%;">
        <div class="bg-white shadow-lg rounded-lg flex items-center p-6 mb-6">
            <div class="w-full md:w-1/3">
                <img src="<%= legoSet.img_url %>" alt="<%= legoSet.name %>" class="rounded-lg" style="max-width: 100%; height: auto;" onerror="this.src='/image/Image_not_available.png';">
            </div>
            <div class="w-full md:w-2/3 text-lg px-6">
                <p><strong>Set Name:</strong> <%= legoSet.name %></p>
                <p><strong>Year Released:</strong> <%= legoSet.year %></p>
                <p><strong>Theme:</strong> <%= legoSet.theme %></p>
                <p><strong>Number of Parts:</strong> <%= legoSet.num_parts %><br></p>
                <div id="quote"></div>
                <a class="btn bg-red-200 hover:bg-red-400 text-gray-700 py-2 px-4 rounded text-lg mt-4" href="#" onclick="history.back(); return false;">Return</a>
            </div>
        </div>
    </div>

    <!-- AJAX request for random quote -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('https://quotable.io/random')
                .then(response => response.json())
                .then(data => {
                    const quoteContainer = document.getElementById('quote');
                    quoteContainer.innerHTML = `<p style="font-size: smaller;">"${data.content}"<br><span style="font-style: normal; font-size: smaller;">- </span><span style="font-style: italic;">${data.author}</span></p>`;})
                .catch(error => {
                    console.error('Error fetching the quote:', error);
                });
        });
    </script>

    <script src="/ThemeChanger.js"></script>
</body>
</html>
