<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Sets</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <%- include('partials/navbar', {page: `/sets${currentTheme ? ('/' + currentTheme) : ''}`}) %>

    <!-- Hero section with dynamic background image based on the set's image -->
    <section class="hero" style="background-image: url('<%= legoSet.img_url %>'); background-size: cover; background-position: center; height: 400px;">
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold"><%= legoSet.name %></h1>
                <p class="mb-5">Below, you will find detailed information about the set: <%= legoSet.name %>.</p>
            </div>
        </div>
    </section>

    <div class="container mx-auto mt-10">
        <!-- Details of the set -->
        <div class="card bg-base-100 shadow-xl">
            <figure><img src="<%= legoSet.img_url %>" alt="<%= legoSet.name %>" onerror="this.src='/image/Image_not_available.png';"></figure>
            <div class="card-body">
                <h2 class="card-title"><%= legoSet.name %></h2>
                <p>Year Released: <%= legoSet.year %></p>
                <p>Theme: <%= legoSet.theme %></p>
                <p>Number of Parts: <%= legoSet.num_parts %></p>
                <div id="quoteContainer">
                    <!-- Quote will be fetched and displayed here -->
                </div>
                <div class="card-actions justify-end">
                    <a href="#" onclick="history.back(); return false;" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('https://quotable.io/random')
                .then(response => response.json())
                .then(data => {
                    const quoteContainer = document.getElementById('quoteContainer');
                    quoteContainer.innerHTML = `<blockquote>"${data.content}" - ${data.author}</blockquote>`;
                })
                .catch(error => {
                    console.error('Error fetching the quote:', error);
                });
        });
    </script>

    <script src="/ThemeChanger.js"></script>
</body>